/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.content {
  width: 100%; }

p {
  font-size: 1.6rem; }

li {
  list-style: none; }

.header {
  font-size: 1.4rem;
  height: 10vh;
  background-color: #ff4351;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      align-content: space-around;
      height: 11rem; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 0.5px solid #333;
  height: 90vh; }

.chat-window {
  position: relative;
  -webkit-box-flex: 1;
  flex: 1;
  float: left; }

.online-list {
  height: 40vh;
  overflow: scroll; }

.offline-list {
  margin-top: 1rem;
  overflow: scroll;
  height: 25vh; }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    height: 100%;
    display: flex;
    align-items: center;
    color: white; }
  .user-nav__you {
    margin-left: 2rem;
    font-size: 1.6rem; }
  .user-nav__active-chat {
    margin-left: 20vh; }

.side-nav {
  font-size: 1.4rem;
  list-style: none; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: flex;
      margin: 0; } }
  .side-nav__container {
    width: 80%;
    margin: 0 auto; }
  .side-nav__lobby {
    background-color: rgba(255, 67, 81, 0.2); }
    .side-nav__lobby--text {
      color: #ff4351; }
  .side-nav__offline--text {
    color: #777;
    font-weight: bold;
    cursor: pointer; }
  .side-nav__offline--item {
    color: #999;
    margin-bottom: 1rem;
    opacity: 70%; }
  .side-nav__link {
    color: #333; }
    .side-nav__link:hover {
      text-decoration: none;
      font-weight: 600;
      color: #ff4351;
      cursor: pointer; }
  .side-nav__item {
    position: relative;
    padding: 1rem 0;
    border-bottom: 0.5px solid #777; }
    .side-nav__item--active {
      font-weight: 600; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin: 0; } }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }

.btn-primary {
  color: #faf9f9;
  background-color: #ff4351;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 3rem;
  position: relative;
  font-size: 1.6rem;
  border: 1px solid #ff4351;
  display: flex;
  /*width: 80%;*/
  margin: 0 auto;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .btn-primary {
      justify-content: center;
      padding: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .btn-primary {
      flex-direction: column;
      padding: 1.5rem .5rem; } }
  .btn-primary:hover {
    background-color: white;
    border: 1px solid #ff4351;
    color: #ff4351; }
  .btn-primary__small {
    padding: 1rem;
    display: block;
    width: 40%; }

.logo {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 2rem; }

.close {
  color: #333;
  font-size: 28px;
  display: inline-block;
  text-align: right; }

.close:hover,
.close:focus {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer; }

.btn-secondary {
  color: #ff4351;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 3rem;
  position: relative;
  font-size: 1.6rem;
  border: 1px solid #ff4351;
  display: flex;
  /*width: 80%;*/
  margin: 0 auto;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .btn-secondary {
      justify-content: center;
      padding: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .btn-secondary {
      flex-direction: column;
      padding: 1.5rem .5rem; } }
  .btn-secondary:hover {
    background-color: #ff4351;
    border: 1px solid #ff4351;
    color: #faf9f9; }
  .btn-secondary_small {
    padding: 1rem;
    display: block;
    width: 40%; }

.form-group {
  display: flex; }

.input {
  margin-top: 1rem;
  font-size: 1.6rem;
  padding: 2rem 0;
  border: none;
  border-bottom: 0.5px solid #333; }
  .input:focus {
    border: none;
    border-bottom: 0.5px solid #333;
    box-shadow: none; }
  .input__chat {
    border: 0.5px solid #777;
    border-radius: .4rem;
    margin: 1rem;
    padding-left: 2rem;
    display: inline-block;
    width: 110rem; }
    .input__chat:focus {
      border: 0.5px solid #777;
      border-radius: .4rem; }

.bubbles {
  overflow: auto;
  height: 75vh;
  margin-top: 1rem; }

.message {
  width: 100%;
  height: auto;
  overflow: hidden; }

.chat-bubble {
  margin-top: 2rem;
  display: block;
  position: relative;
  border-radius: .4em;
  width: 45%;
  padding: 2rem;
  background-size: 45% auto; }
  .chat-bubble__left {
    background-color: #e5e5e5;
    margin-left: 2rem; }
    .chat-bubble__left::after {
      position: absolute;
      left: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 2rem solid transparent;
      border-right-color: #e5e5e5;
      border-left: 0;
      margin-top: -2rem;
      margin-left: -2rem; }
  .chat-bubble__right {
    background-color: #ff4351;
    color: white;
    float: right;
    margin-right: 2rem; }
    .chat-bubble__right::after {
      position: absolute;
      right: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 2rem solid transparent;
      border-left-color: #ff4351;
      border-right: 0;
      margin-top: -2rem;
      margin-right: -2rem; }
  .chat-bubble:after {
    position: absolute; }

.chat-input {
  display: flex;
  position: absolute;
  bottom: 1rem; }

.chat-input__submit {
  font-size: 2rem;
  color: #777;
  border: none;
  padding: 1rem;
  cursor: pointer; }

.chat-name {
  font-size: 1.4rem;
  display: block;
  margin-top: 0.5rem;
  font-weight: 600; }

.user-nickname {
  background-color: #ff4351;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.friend-nickname {
  background-color: #ff4351;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}



.modal{
  overflow-x:hidden;
  overflow-y:auto
}

.modal{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:1050;
  display:none;
  overflow:hidden;
  outline:0
}

.modal-dialog{
  position:relative;
  width:auto;
  margin:.5rem;
  pointer-events:none
}

.modal.fade .modal-dialog{
  transition:-webkit-transform .3s ease-out;
  transition:transform .3s ease-out;
  transition:transform .3s ease-out,-webkit-transform .3s ease-out;
  -webkit-transform:translate(0,-25%);
  transform:translate(0,-25%)
}

.modal-dialog{
    -webkit-transform:translate(0,0);
    transform:translate(0,0)
}
.modal-dialog-centered{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    min-height:calc(100% - (.5rem * 2))
}
.modal-dialog-centered::before{
    display:block;
    height:calc(100vh - (.5rem * 2));
    content:""
}
.modal-content{
    position:relative;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    width:100%;
    pointer-events:auto;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid rgba(0,0,0,.2);
    border-radius:.3rem;
    outline:0
}
.modal-backdrop{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1040;
    background-color:#000
}
.modal-backdrop.fade{
    opacity:0
}
.modal-backdrop.show{
    opacity:.5
}
.modal-header{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:start;
    align-items:flex-start;
    -ms-flex-pack:justify;
    justify-content:space-between;
    padding:1rem;
    border-bottom:1px solid #e9ecef;
    border-top-left-radius:.3rem;
    border-top-right-radius:.3rem
}
.modal-header .close{
    padding:1rem;
    margin:-1rem -1rem -1rem auto
}
.modal-title{
    margin-bottom:0;
    line-height:1.5;
    font-size: 20px;
}
.modal-body{
  color: #000;
    position:relative;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    padding:1rem
}
.modal-footer{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:end;
    justify-content:flex-end;
    padding:1rem;
    border-top:1px solid #e9ecef
}
.modal-footer>:not(:first-child){
    margin-left:.25rem
}
.modal-footer>:not(:last-child){
    margin-right:.25rem
}

@media (min-width:576px){
    .modal-dialog{
        max-width:500px;
        margin:1.75rem auto
    }
    .modal-dialog-centered{
        min-height:calc(100% - (1.75rem * 2))
    }
    .modal-dialog-centered::before{
        height:calc(100vh - (1.75rem * 2))
    }
    .modal-sm{
        max-width:300px
    }
}