////////////////////////////////////////
// USER NAVIGATION

.user-nav {
    align-self: stretch;
    display: flex;
    align-items: center;

    & > * {
        height: 100%;
        display: flex;
        align-items: center;
        color: white;
    }

    &__you {
        margin-left: 2rem;
        font-size: 1.6rem;
    }

    &__active-chat {
        margin-left: 40vh;
    }

}


////////////////////////////////////////
// SIDE NAVIGATION
.side-nav {
    font-size: 1.4rem;
    list-style: none;
    display: block;

    @include respond(tab-port) {
        display: none;
    }

    &__container {
        width: 80%;
        margin: 0 auto;

        @include respond(tab-port) {
            width: 100%;
            padding-left: 2rem;
        } 

    }

    &__lobby {
        &--text {
            color: $color-primary;
        }
    }

    &__offline {
        &--text {
            color: $color-grey-dark-2;
            cursor: pointer;
        }

        &--item {
            color: $color-grey-dark-3;
            margin-bottom: 1rem;
            opacity: 70%;
        }
    }

    &__link {
        color: $color-grey-dark-1;

        &:hover {
            text-decoration: none;
            color: $color-primary;
            cursor: pointer;
        }
    }

    &__item {
        position: relative;
        padding: 1rem 0;
        border-bottom: 0.5px solid $color-grey-dark-2;

        &:not(:last-child) {
            
            @media only screen and (max-width: $bp-medium) {
                margin: 0;
            }
        }

        @media only screen and (max-width: $bp-medium) {
            flex: 1;
        }
    }
}

.side-nav--active {
    display: block;
}

.toggle-menu {
    display: none; 

    @include respond(tab-port) {
        display: block;
        padding: 1rem 2rem;
        border-bottom: 0.5px solid #777;
    } 
}

////////////////////////////////////////
// BUTTONS
.btn-primary {
    color: $color-grey-light-1;
    background-color: $color-primary;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    position: relative;
    font-size: 1.6rem;
    display: flex;
    width: 80%;
    margin: 0 auto;

    align-items: center;

    @media only screen and (max-width: $bp-medium) {
        justify-content: center;
        padding: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        padding: 1.5rem .5rem;
    }

    &:hover {
        background-color: white;
        border: 1px solid $color-primary;
        color: $color-primary;
    }

    &__small {
        padding: 1rem;
        display: block;
        width: 40%;
    }
}


.btn-secondary {
  color: #ff4351;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 3rem;
  position: relative;
  font-size: 1.6rem;
  border: 1px solid #ff4351;
  display: flex;
  /*width: 80%;*/
  margin: 0 auto;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .btn-secondary {
      justify-content: center;
      padding: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .btn-secondary {
      flex-direction: column;
      padding: 1.5rem .5rem; } }
  .btn-secondary:hover {
    background-color: #ff4351;
    border: 1px solid #ff4351;
    color: #faf9f9; }
  .btn-secondary_small {
    padding: 1rem;
    display: block;
    width: 40%; }

.save-button {
    background-color: $color-primary;
    color: white; 
}

////////////////////////////////////////
// LOGO
.logo {
    margin: 0 auto;
    width: 60%;
    margin-bottom: 2rem;

    @include respond(tab-port) {
        display: none;
    }
}

////////////////////////////////////////
// MODAL
.close {
    color: $color-grey-dark-1;
    font-size: 28px;
    display: inline-block;
    text-align: right;
}

.close:hover,
.close:focus {
    color: $color-grey-dark-1;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.form-group {
    display: flex;
    width: 100%;
}

.input {
    margin-top: 1rem;
    font-size: 1.6rem;
    padding: 2rem 0;
    border-bottom: 0.5px solid $color-grey-dark-1;

    &:focus {
        border: none;
        border-bottom: 0.5px solid $color-grey-dark-1;
        box-shadow: none;
    }

    &__chat {
        border: 0.5px solid $color-grey-dark-2;
        border-radius: .4rem;
        margin: 1rem;
        padding-left: 2rem;
        display: inline-block;
        width: 100%;

        &:focus {
            border: 0.5px solid $color-grey-dark-2;
            border-radius: .4rem;
        }
    }
}

.user-nickname {
  background: none;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;

  &:focus {
      outline: none;
  }
}

.friend-nickname {
    background: none;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
  
    &:focus {
        outline: none;
    }
  }

.modal{
  overflow-x:hidden;
  overflow-y:auto
}

.modal{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:1050;
  display:none;
  overflow:hidden;
  outline:0
}

.modal-dialog{
  position:relative;
  width:auto;
  margin:.5rem;
  pointer-events:none
}

.modal.fade .modal-dialog{
  transition:-webkit-transform .3s ease-out;
  transition:transform .3s ease-out;
  transition:transform .3s ease-out,-webkit-transform .3s ease-out;
  -webkit-transform:translate(0,-25%);
  transform:translate(0,-25%)
}

.modal-dialog{
  -webkit-transform:translate(0,0);
  transform:translate(0,0)
}
.modal-dialog-centered{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-align:center;
  align-items:center;
  min-height:calc(100% - (.5rem * 2))
}
.modal-dialog-centered::before{
  display:block;
  height:calc(100vh - (.5rem * 2));
  content:""
}
.modal-content{
  position:relative;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:column;
  flex-direction:column;
  width:100%;
  pointer-events:auto;
  background-color:#fff;
  background-clip:padding-box;
  border:1px solid rgba(0,0,0,.2);
  border-radius:.3rem;
  outline:0
}
.modal-backdrop{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:1040;
  background-color:#000
}
.modal-backdrop.fade{
  opacity:0
}
.modal-backdrop.show{
  opacity:.5
}
.modal-header{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-align:start;
  align-items:flex-start;
  -ms-flex-pack:justify;
  justify-content:space-between;
  padding:1rem;
  border-bottom:1px solid #e9ecef;
  border-top-left-radius:.3rem;
  border-top-right-radius:.3rem
}
.modal-header .close{
  padding:1rem;
  margin:-1rem -1rem -1rem auto
}
.modal-title{
  margin-bottom:0;
  line-height:1.5;
  font-size: 20px;
}
.modal-body{
  color: #000;
  position:relative;
  -ms-flex:1 1 auto;
  flex:1 1 auto;
  padding:1rem
}
.modal-footer{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-pack:end;
  justify-content:flex-end;
  padding:1rem;
  border-top:1px solid #e9ecef
}
.modal-footer>:not(:first-child){
  margin-left:.25rem
}
.modal-footer>:not(:last-child){
  margin-right:.25rem
}

@media (min-width:576px){
  .modal-dialog{
      max-width:500px;
      margin:1.75rem auto
  }
  .modal-dialog-centered{
      min-height:calc(100% - (1.75rem * 2))
  }
  .modal-dialog-centered::before{
      height:calc(100vh - (1.75rem * 2))
  }
  .modal-sm{
      max-width:300px
  }
}

////////////////////////////////////////
// BUBBLES

.bubbles {
    overflow: auto;
    height: 75vh;
    margin-top: 1rem;
}

.message {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.linkified {
    color: $color-grey-light-1;
    text-decoration: underline;

    &:hover {
        color: white;
    }
}

.chat-bubble {
    margin-top: 2rem;
    display: block;
    position: relative;
    border-radius: .4em;
    width: 45%;
    padding: 2rem;
    background-size: 45% auto;

    &__left {
        background-color:$color-grey-dark-2;
        margin-left: 2rem;
        color: $color-grey-light-1;
        
        &::after {
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 2rem solid transparent;
            border-right-color: $color-grey-dark-2;
            border-left: 0;
            margin-top: -2rem;
            margin-left: -2rem;
        }
    }

    &__right {
        background-color: $color-primary;
        color: white;
        float: right;
        margin-right: 2rem;

        &::after {
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 2rem solid transparent;
            border-left-color: $color-primary;
            border-right: 0;
            margin-top: -2rem;
            margin-right: -2rem;
        }
    }

    &:after {
        position: absolute;
    }
}

////////////////////////////////////////
// CHAT INPUT

.chat-input {
    display: flex;
    position: absolute;
    bottom: 1rem;
    width: 100%;

    @include respond(tab-port) {
        bottom: 0;
    }
}

.chat-input__submit {
    font-size: 2rem;
    color: $color-grey-dark-2;
    background: none;
    border: none;
    padding: 1rem;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.chat-name {
    font-size: 1.4rem;
    display: block;
    margin-top: 0.5rem;
    font-weight: 600;
}

////////////////////////////////////////
// CHAT SETTINGS

.settings {
    &--dropdown {
        float: right;
        position: absolute;
        right: 2rem;
    }

    &--button {
        background: none;
        color: white;
        border: none;

        &:hover, &:not(:disabled):not(.disabled):active, &:focus {
            background: none;
            border: none;
            box-shadow: none;
        }
    }

    &--item {
        font-family: sans-serif;
        font-weight: 400;
        line-height: 1.6;
        font-size: 1.6rem;
        color: $color-grey-dark-2;

        &:active {
            background-color: rgba($color-primary, 0.2);
            color: $color-primary;
            font-weight: 600;
        }
    }
}

.show>.btn-secondary.dropdown-toggle {
    background: none;
    border: none;

    &:focus {
        box-shadow: none;
    }
}

.search-heading {
  font-size: 20px;
}

.search-button {
  background-color: #faf9f9; /* Green */
  border: none;
  color: #ff4351;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.back-button {
  background-color: #faf9f9; /* Green */
  border: #ff4351 1px solid;
  color: #ff4351;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.search {
  margin-right: 100px;
}

.list-group-item{
  position:relative;
  display:block;
  padding:10px 15px;
  margin-bottom:-1px;
  font-size: 14px;
  background-color:#fff;
  border:1px solid #ddd
}
.fa-cog {
    font-size: 2rem;
}

////////////////////////////////////////
// SEARCH

.search {
    padding: 2rem;
    margin: 1rem;
}

.input-group-text {
    background-color: $color-primary;
    font-size: 1.6rem;
    color: white;
    border: none;
}

.form-control {
    font-size: 1.4rem;
    border-radius: .4rem;
    padding-left: 2rem;

    &:focus {
        box-shadow: none;
    }
}