////////////////////////////////////////
// USER NAVIGATION

.user-nav {
    align-self: stretch;
    display: flex;
    align-items: center;

    & > * {
        height: 100%;
        display: flex;
        align-items: center;
        color: white;
    }

    &__you {
        margin-left: 2rem;
        font-size: 1.6rem;
    }

    &__active-chat {
        margin-left: 22rem;
    }

}


////////////////////////////////////////
// SIDE NAVIGATION
.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    @media only screen and (max-width: $bp-medium) {
        display: flex;
        margin: 0;
    }

    &__container {
        width: 80%;
        margin: 0 auto;

    }

    &__link {
        color: $color-grey-dark-1;

        &:hover {
            text-decoration: none;
            font-weight:400;
            color: $color-primary;
            cursor: pointer;
        }
    }

    &__item {
        position: relative;
        padding: 2rem 0;
        border-bottom: 0.5px solid $color-grey-dark-1;

        &--active {
            font-weight: 600;
        }

        &:not(:last-child) {
            margin-bottom: .5rem;
            
            @media only screen and (max-width: $bp-medium) {
                margin: 0;
            }
        }

        @media only screen and (max-width: $bp-medium) {
            flex: 1;
        }
    }
}

////////////////////////////////////////
// BUTTONS
.btn-primary {
    color: $color-grey-light-1;
    background-color: $color-primary;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    position: relative;
    font-size: 1.6rem;
    display: flex;
    width: 80%;
    margin: 0 auto;

    align-items: center;

    @media only screen and (max-width: $bp-medium) {
        justify-content: center;
        padding: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        padding: 1.5rem .5rem;
    }

    &:hover {
        background-color: white;
        border: 1px solid $color-primary;
        color: $color-primary;
    }

    &__small {
        padding: 1rem;
        display: block;
        width: 40%;
    }
}


////////////////////////////////////////
// LOGO
.logo {
    margin: 0 auto;
    width: 60%;
    margin-bottom: 2rem;
}

////////////////////////////////////////
// MODAL
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: white;
    padding: 1rem 2rem;
    border: 1px solid $color-grey-dark-2;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    color: $color-grey-dark-1;
    font-size: 28px;
    display: inline-block;
    text-align: right;
}

.close:hover,
.close:focus {
    color: $color-grey-dark-1;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.form-group {
    display: flex;
}

.input {
    margin-top: 1rem;
    font-size: 1.6rem;
    padding: 2rem 0;
    border: none;
    border-bottom: 0.5px solid $color-grey-dark-1;

    &:focus {
        border: none;
        border-bottom: 0.5px solid $color-grey-dark-1;
        box-shadow: none;
    }

    &__chat {
        border: 0.5px solid $color-grey-dark-2;
        border-radius: .4rem;
        margin: 1rem;
        padding-left: 2rem;
        display: inline-block;
        width: 110rem;

        &:focus {
            border: 0.5px solid $color-grey-dark-2;
            border-radius: .4rem;
        }
    }
}

////////////////////////////////////////
// BUBBLES

.chat-bubble {
    margin-top: 2rem;
    display: block;
    position: relative;
    border-radius: .4em;
    width: 45%;
    padding: 2rem;

    &__left {
        background: #e5e5e5;
        margin-left: 2rem;
        
        &::after {
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 2rem solid transparent;
            border-right-color: #e5e5e5;
            border-left: 0;
            margin-top: -2rem;
            margin-left: -2rem;
        }
    }

    &__right {
        background: $color-primary;
        color: white;
        float: right;
        margin-right: 2rem;

        &::after {
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 2rem solid transparent;
            border-left-color: $color-primary;
            border-right: 0;
            margin-top: -2rem;
            margin-right: -2rem;
        }
    }

    &:after {
        position: absolute;
    }
}

////////////////////////////////////////
// CHAT INPUT

.chat-input {
    display: flex;
    position: absolute;
    bottom: 1rem;
}

.chat-input__submit {
    font-size: 2rem;
    color: $color-grey-dark-2;
    border: none;
    padding: 1rem;
}

.chat-name {
    font-size: 1.4rem;
    display: block;
    margin-top: 1rem;
    font-weight: 600;
}